# Web Scrapping Assignment

# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [3]:
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [5]:
header1=[]
for i in soup.find_all('h1',class_="firstHeading mw-first-heading"):
    header1.append(i.text)
header1

['Main Page']

In [6]:
header2=[]
for i in soup.find_all('h2',class_="mp-h2"):
    header2.append(i.text)
header2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [7]:
header=header1+header2
header

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [9]:
import pandas as pd 
df=pd.DataFrame({'Header': header})
df

                          Header
0                      Main Page
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [10]:
from bs4 import BeautifulSoup
import requests

In [11]:
page=requests.get('https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
movietitle=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    movietitle.append(i.text.replace("\n"," ").split(".").pop(1))

In [16]:
rating=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace("\n",""))

In [17]:
year=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.replace("\n",""))

In [18]:
import pandas as pd
df=pd.DataFrame({'Name':movietitle,
                  'Rating':rating,
                    'Yer_of_release':year})

In [19]:
df

                                 Name Rating Yer_of_release
0    The Shawshank Redemption (1994)     9.3         (1994)
1               The Godfather (1972)     9.2         (1972)
2                12 Angry Men (1957)       9         (1957)
3      The Godfather: Part II (1974)       9         (1974)
4                Pulp Fiction (1994)     8.9         (1994)
..                                ...    ...            ...
95          Wuthering Heights (1939)     7.6         (1939)
96            West Side Story (1961)     7.5         (1961)
97        Terms of Endearment (1983)     7.4         (1983)
98          American Graffiti (1973)     7.4         (1973)
99       An American in Paris (1951)     7.2         (1951)

[100 rows x 3 columns]

# 3)Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [20]:
from bs4 import BeautifulSoup
import requests

In [21]:
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [23]:
movietitle=[]
for i in soup.find_all('td',class_="titleColumn"):
    movietitle.append(i.text.replace("\n"," ").split(".").pop(1))

In [24]:
rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.replace("\n",""))

In [25]:
year=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text.replace("\n",""))

In [27]:
import pandas as pd
df=pd.DataFrame({'Name':movietitle,
                  'Rating':rating,
                    'Year_of_release':year})

In [28]:
df=df.head(100)
df

                                       Name Rating Year_of_release
0                 Pariyerum Perumal (2018)     8.5          (2018)
1                           Nayakan (1987)     8.5          (1987)
2                          Jai Bhim (2021)     8.5          (2021)
3                        Anbe Sivam (2003)     8.5          (2003)
4                 C/o Kancharapalem (2018)     8.5          (2018)
..                                      ...    ...             ...
95                    Alai Payuthey (2000)     8.1          (2000)
96                        Sarfarosh (1999)     8.1          (1999)
97         Uri: The Surgical Strike (2019)     8.1          (2019)
98                             Roja (1992)     8.1          (1992)
99                            Queen (2013)     8.1          (2013)

[100 rows x 3 columns]

# 4)Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [29]:
from bs4 import BeautifulSoup
import requests

page=requests.get('https://meesho.com/bagsladies/pl/p7vbp')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [31]:
Product_name=[]
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    Product_name.append(i.text)
Product_name

['Elegant Fashionable Women Handbags',
 'Gorgeous Attractive Women Handbags',
 'Classic Fancy Women Handbags',
 'Classic Versatile Women Handbags',
 'Gorgeous Versatile Women Handbags',
 'Trendy Fancy Women Handbags',
 'Voguish Classy Women Handbags',
 'Elegant Versatile Women Handbags',
 'Ravishing Stylish Women Handbags',
 'Ravishing Alluring Women Handbags',
 'Classic Versatile Women Handbags',
 'Elegant Women Handbags',
 'Elite Fashionable Women Handbags',
 'Voguish Fancy Women Handbags',
 'Classic Stylish Women Handbags',
 'Elite Versatile Women Handbags',
 'Elegant Attractive Women Handbags',
 'Classic Versatile Women Handbags',
 'Elite Fancy Women Handbags',
 'Trendy Fashionable Women Handbags']

In [32]:
Price_in_Rupees=[]
for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    Price_in_Rupees.append(i.text.replace('₹','Rs.').split(".").pop(1))

In [33]:
Discounts=[]
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm"):
    Discounts.append(i.text.replace('₹','Rs.'))

In [34]:
import pandas as pd
df=pd.DataFrame({'Product_name':Product_name,
                  'Price_in_Rupees':Price_in_Rupees,
                    'Discounts':Discounts})
df

,Product_name,Price_in_Rupees,Discounts
0,Elegant Fashionable Women Handbags,183,Rs.78 discount on 1st order
1,Gorgeous Attractive Women Handbags,285,Rs.100 discount on 1st order
2,Classic Fancy Women Handbags,198,Rs.84 discount on 1st order
3,Classic Versatile Women Handbags,356,Rs.100 discount on 1st order
4,Gorgeous Versatile Women Handbags,229,Rs.98 discount on 1st order
5,Trendy Fancy Women Handbags,440,Rs.100 discount on 1st order
6,Voguish Classy Women Handbags,166,Rs.71 discount on 1st order
7,Elegant Versatile Women Handbags,229,Rs.97 discount on 1st order
8,Ravishing Stylish Women Handbags,217,Rs.92 discount on 1st order
9,Ravishing Alluring Women Handbags,261,Rs.100 discount on 1st order
10,Classic Versatile Women Handbags,205,Rs.87 discount on 1st order
11,Elegant Women Handbags,165,Rs.70 discount on 1st order
12,Elite Fashionable Women Handbags,233,Rs.99 discount on 1st order
13,Voguish Fancy Women Handbags,130,Rs.55 discount on 1st order
14,Classic Stylish Women Handbags,260,Rs.100 discount on 1st order
15,Elite Versatile Women Handbags,208,Rs.89 discount on 1st order
16,Elegant Attractive Women Handbags,196,Rs.83 discount on 1st order
17,Classic Versatile Women Handbags,191,Rs.81 discount on 1st order
18,Elite Fancy Women Handbags,224,Rs.95 discount on 1st order
19,Trendy Fashionable Women Handbags,196,Rs.83 discount on 1st order

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [35]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [37]:
team1=soup.find("span",class_="u-hide-phablet")
team1=team1.text
team1

'New Zealand'

In [38]:
matches1=soup.find("td",class_="rankings-block__banner--matches")
matches1=matches1.text
matches1

'17'

In [39]:
points1=soup.find("td",class_="rankings-block__banner--points")
points1=points1.text
points1

'2,054'

In [40]:
rating1=soup.find("td",class_="rankings-block__banner--rating u-text-right")
rating1=rating1.text.strip()
rating1

'121'

In [41]:
team2=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team2.append(i.text.replace("\n",""))
team2=team2[1:10]

In [42]:
matches2=[]
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    matches2.append(i.text.replace("\n"," ") )
points2=matches2[1:19:2]
matches2=matches2[2:20:2]

In [43]:
rating2=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[1:10]

In [44]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'team':[team1],'matches':[matches1],'points':[points1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'team':team2,'matches':matches2,'points':points2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])



df=pd.concat([data1, data2], axis=0)
df

            team matches points rating
1    New Zealand      17  2,054    121
2        England      28  3,793    116
3      Australia      32  3,244    113
4          India      25  3,624     98
5   South Africa      27  2,459     93
6       Pakistan      30  2,524     91
7     Bangladesh      30  2,740     84
8    West Indies      32  2,523     83
9      Sri Lanka      17  2,657     62
10   Afghanistan       7  1,054     48

# 5b)Top 10 ODI Batsmen along with the records of their team and rating.

In [45]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [47]:
player1=soup.find("div",class_="rankings-block__banner--name-large")
player1=player1.text
player1

'Babar Azam'

In [48]:
team1=soup.find("div",class_="rankings-block__banner--nationality")
team1=team1.text.strip()
team1

'PAK'

In [49]:
rating1=soup.find("div",class_="rankings-block__banner--rating")
rating1=rating1.text
rating1

'873'

In [50]:
player2=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player2.append(i.text.replace("\n",""))
player2=player2[0:9]

In [51]:
team2=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team2.append(i.text.replace("\n",""))
team2=team2[0:9]

In [52]:
rating2=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[0:9]

In [53]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'player':[player1],'team':[team1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'player':player2,'team':team2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])



df=pd.concat([data1, data2], axis=0)
df

                   player team rating
1              Babar Azam  PAK    873
2             Virat Kohli  IND    836
3            Rohit Sharma  IND    801
4             Ross Taylor   NZ    801
5         Quinton de Kock   SA    783
6             Aaron Finch  AUS    779
7          Jonny Bairstow  ENG    775
8            David Warner  AUS    762
9         Kane Williamson   NZ    754
10  Rassie van der Dussen   SA    750

# 5c)Top 10 ODI bowlers along with the records of their team and rating.

In [54]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [56]:
bowler1=soup.find("div",class_="rankings-block__banner--name-large")
bowler1=bowler1.text
bowler1

'Trent Boult'

In [57]:
team1=soup.find("div",class_="rankings-block__banner--nationality")
team1=team1.text.strip()
team1

'NZ'

In [58]:
rating1=soup.find("div",class_="rankings-block__banner--rating")
rating1=rating1.text
rating1

'737'

In [59]:
bowler2=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowler2.append(i.text.replace("\n",""))
bowler2=bowler2[0:9]

In [60]:
team2=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team2.append(i.text.replace("\n",""))
team2=team2[1:10]
team2

['ENG', 'AFG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'IRE', 'BAN']

In [61]:
rating2=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[1:10]

In [62]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'bowler':[player1],'team':[team1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'bowler':player2,'team':team2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])



df=pd.concat([data1, data2], axis=0)
df

                   bowler team rating
1              Babar Azam   NZ    737
2             Virat Kohli  ENG    700
3            Rohit Sharma  AFG    697
4             Ross Taylor  BAN    692
5         Quinton de Kock   NZ    691
6             Aaron Finch  IND    689
7          Jonny Bairstow  AUS    652
8            David Warner  BAN    650
9         Kane Williamson  IRE    646
10  Rassie van der Dussen  BAN    640

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [63]:

from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [65]:
team1=soup.find("span",class_="u-hide-phablet")
team1=team1.text
matches1=soup.find("td",class_="rankings-block__banner--matches")
matches1=matches1.text
points1=soup.find("td",class_="rankings-block__banner--points")
points1=points1.text

In [66]:
team2=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team2.append(i.text.replace("\n",""))
team2=team2[1:10]

In [67]:
matches2=[]
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    matches2.append(i.text.replace("\n"," ") )
points2=matches2[1:19:2]
matches2=matches2[2:20:2]

In [68]:
rating2=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[1:10]

In [69]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'team':[team1],'matches':[matches1],'points':[points1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'team':team2,'matches':matches2,'points':points2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])



df=pd.concat([data1, data2], axis=0)
df

            team matches points rating
1      Australia      17  2,746    737
2   South Africa      18  2,307    119
3        England      17  2,148    112
4          India       5  1,899     95
5     Bangladesh      19    475     88
6    New Zealand      19  1,668     87
7    West Indies      19  1,658     69
8       Pakistan       5  1,304     48
9        Ireland       5    240     47
10     Sri Lanka       8    233      0

# 6-b)Top 10 women’s ODI Batting players along with the records of their team and rating.

In [70]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [72]:
player1=soup.find("div",class_="rankings-block__banner--name-large")
player1=player1.text
team1=soup.find("div",class_="rankings-block__banner--nationality")
team1=team1.text.strip()
rating1=soup.find("div",class_="rankings-block__banner--rating")
rating1=rating1.text

In [73]:
player2=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player2.append(i.text.replace("\n",""))
player2=player2[0:9]
team2=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team2.append(i.text.replace("\n",""))
team2=team2[0:9]
rating2=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[0:9]

In [74]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'player':[player1],'team':[team1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'player':player2,'team':team2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])
df=pd.concat([data1, data2], axis=0)
df

               player team rating
1        Alyssa Healy  AUS    750
2         Mithali Raj  IND    738
3         Lizelle Lee   SA    731
4      Tammy Beaumont  ENG    728
5   Amy Satterthwaite   NZ    717
6     Smriti Mandhana  IND    710
7         Meg Lanning  AUS    699
8         Beth Mooney  AUS    690
9      Heather Knight  ENG    674
10     Rachael Haynes  AUS    668

# 6-c)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [75]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [77]:
player1=soup.find("div",class_="rankings-block__banner--name-large")
player1=player1.text
team1=soup.find("div",class_="rankings-block__banner--nationality")
team1=team1.text.strip()
rating1=soup.find("div",class_="rankings-block__banner--rating")
rating1=rating1.text

In [78]:
player2=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player2.append(i.text.replace("\n",""))
player2=player2[0:9]
team2=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team2.append(i.text.replace("\n",""))
team2=team2[0:9]
rating2=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating2.append(i.text.replace("\n",""))
rating2=rating2[0:9]

In [79]:
import pandas as pd
  
# assign dataframes
data1 = pd.DataFrame({'player':[player1],'team':[team1],'rating':[rating1]},index=[1])
data2 = pd.DataFrame({'player':player2,'team':team2,'rating':rating2},index=[2,3,4,5,6,7,8,9,10])
df=pd.concat([data1, data2], axis=0)
df

              player team rating
1     Natalie Sciver  ENG    372
2       Ellyse Perry  AUS    365
3     Marizanne Kapp   SA    355
4      Deepti Sharma  IND    299
5    Stafanie Taylor   WI    281
6    Hayley Matthews   WI    280
7   Ashleigh Gardner  AUS    275
8      Jess Jonassen  AUS    272
9    Katherine Brunt  ENG    272
10  Dane van Niekerk   SA    253

# 7)Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [1]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://coreyms.com/")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [3]:
title=[]
for i in soup.find_all("h2",class_="entry-title"):
    title.append(i.text)

In [4]:
date=[]
for i in soup.find_all("time",class_="entry-time"):
    date.append(i.text)

In [5]:
content=[]
for i in soup.find_all("div",class_="entry-content"):
    content.append(i.text.strip())

In [13]:
link = []
for i in soup.find_all('iframe', class_="youtube-player"):
    link.append(i['src'])

len(link)

9

In [14]:
link.insert(4,'no link provided')
len(link)

10

In [15]:
print(len(title),len(date),len(content),len(link))

10 10 10 10

In [16]:
import pandas as pd
df=pd.DataFrame({'Heading':title,
                  'Date':date,
                   'content':content,
                    'link':link})
df

,Heading,Date,content,link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,no link provided
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8)Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,Rajaji Nagar.

In [80]:
from bs4 import BeautifulSoup
import requests

page1=requests.get("https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Rajajinagar,&locality=Jayanagar")
page1

In [ ]:
soup=BeautifulSoup(page1.content)
soup

In [82]:
housetitle=[]
for i in soup.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    housetitle.append(i.text)

In [83]:
area=[]
for i in soup.find_all("div",class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    
    area.append(i.text)

In [84]:
loc=[]
for i in soup.find_all("span",class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    loc.append(i.text.split("Sale").pop(1))

In [85]:
Emi=[]
for i in soup.find_all("div",class_="font-semi-bold heading-6"):
    Emi.append(i.text.replace('₹','Rs.').split(","))
Emi=Emi[1:100:3]

In [86]:
price=[]
for i in soup.find_all("div",class_="font-semi-bold heading-6"):
    price.append(i.text.replace('₹','Rs.').split(","))
price=price[2:100:3]

In [87]:
print(len(housetitle),len(loc),len(area),len(Emi),len(price))

25 25 25 25 25

In [88]:
import pandas as pd
df=pd.DataFrame({'Housetitle':housetitle,
                  'location':loc,
                   'area':area,
                    'EMI':Emi,
                   'Price':price})
df

,Housetitle,location,area,EMI,Price
0,3 BHK Apartment For Sale In Adarsh Court Apa...,In Adarsh Court Apartment In Jayanagar,Adarsh Court Apartment Adarsh Court Apartment...,[Rs.2.01 Lacs/Month],[Rs.3.5 Crores]
1,4+ BHK In Independent House For Sale In Jaya...,In Jayanagar,"Independent House, 100ft Road, Ashoka Pillar R...",[Rs.2.96 Lacs/Month],[Rs.5.16 Crores]
2,3 BHK Flat For Sale In Beverly Apartments In...,"In Beverly Apartments In Hal 2nd Stage, Indi...",Road next to Manyavar showroom,"[Rs.85, 971/Month]",[Rs.1.5 Crores]
3,"3 BHK Flat For Sale In Hal 2nd Stage,indiran...","In Hal 2nd Stage,indiranagar","Standalone building, 16th F main, Hal 2nd stag...",[Rs.2.29 Lacs/Month],[Rs.4 Crores]
4,2 BHK Flat For Sale In Lakshmi Nivas Apartme...,In Lakshmi Nivas Apartments In Srirampuram,"behind Vishnupriya Towers,Mahakavi Kuvempu Roa...","[Rs.56, 741/Month]",[Rs.99 Lacs]
5,2 BHK In Independent House For Sale In Jayan...,In Jayanagar,"Independent House, Jayanagara 9th Block, near ...",[Rs.1.15 Lacs/Month],[Rs.2 Crores]
6,2 BHK Flat For Sale In Aishwaryam Ranga In G...,"In Aishwaryam Ranga In Gayatrinagar, Rajaji ...",Near gayatrinagarpostoffice,"[Rs.53, 302/Month]",[Rs.93 Lacs]
7,2 BHK Flat For Sale In Aishwaryam Gokula In ...,In Aishwaryam Gokula In Triveni Digital Colo...,1st main govindraja naagar blore 560040,"[Rs.45, 851/Month]",[Rs.80 Lacs]
8,3 BHK Flat For Sale In Shanti Park Apartment...,In Shanti Park Apartments In Jayanagara 9th ...,Shanti Park Apartments,"[Rs.71, 643/Month]",[Rs.1.25 Crores]
9,2 BHK Flat For Sale In Shree Enclave In Jay...,In Shree Enclave In Jayanagar,jayanagar Near Mahalakshmi Temple/Rajalakshmi ...,"[Rs.74, 508/Month]",[Rs.1.3 Crores]
10,4 BHK Flat For Sale In Golfridge In Indira N...,In Golfridge In Indira Nagar,embassy golf link road,[Rs.1.63 Lacs/Month],[Rs.2.85 Crores]
11,4 BHK In Independent House For Sale In Jayan...,In Jayanagar,"Independent House, 47th Cross Rd, 8th Block, 1...",[Rs.6.02 Lacs/Month],[Rs.10.5 Crores]
12,4+ BHK In Independent House For Sale In Raja...,In Rajajinaga,"Independent House, 6th Cross Rd, 2nd Block ne...","[Rs.83, 679/Month]",[Rs.1.46 Crores]
13,3 BHK Flat For Sale In Livintique Residence ...,In Livintique Residence In Indiranagar,100 Feet Rd near Barbeque Nation,[Rs.2.01 Lacs/Month],[Rs.3.5 Crores]
14,3 BHK Flat For Sale In Total Environment Lif...,"In Total Environment Life Is Beautiful, Jaya...","30th Cross Rd, 4th T Block , Jayanagar, Bengal...",[Rs.1.72 Lacs/Month],[Rs.3 Crores]
15,4+ BHK Flat For Sale In Nagapura,In Nagapura,"Standalone Building, Bovipalya near Mahalakshm...","[Rs.68, 777/Month]",[Rs.1.2 Crores]
16,3 BHK Apartment For Sale In Ashiana Gardens ...,In Ashiana Gardens Apartments In Indiranagar,"Ashiana Gardens Apartments 4, Sri Rama Temple...","[Rs.84, 825/Month]",[Rs.1.48 Crores]
17,3 BHK Flat For Sale In Mantri Gardens Apartm...,In Mantri Gardens Apartment In Jayanagar,"Mantri Gardens Apartment, Jayanagar 1st Block,...","[Rs.85, 971/Month]",[Rs.1.5 Crores]
18,1 BHK Flat For Sale In Rajajinagar In Rajaji...,In Rajajinagar In Rajaji Nagar,"27th cross 2nd block rajajinagar,Behind Navran...","[Rs.28, 657/Month]",[Rs.50 Lacs]
19,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,In Rrbc Piccassso In Jayanagar,"Municipal No.152, 18th main road, beside Sai B...",[Rs.3.91 Lacs/Month],[Rs.6.83 Crores]
20,3 BHK Flat For Sale In Rrbc Piccassso In Jay...,In Rrbc Piccassso In Jayanagar,"Municipal No.152, 18th main road, beside Sai B...",[Rs.1.69 Lacs/Month],[Rs.2.94 Crores]
21,4+ BHK In Independent House For Sale In Raja...,In Rajaji Nagar,"Independent House, 72 Cross, 12th Main Rd, RPA...",[Rs.1.96 Lacs/Month],[Rs.3.42 Crores]
22,3 BHK Flat For Sale In Vaishali Residency In...,In Vaishali Residency In Indiranagar,"Vaishali Residency, HAL 2nd Stage, Indiranagar...","[Rs.65, 911/Month]",[Rs.1.15 Crores]
23,4 BHK Flat For Sale In Phoenix One Bangalor...,In Phoenix One Bangalore West In Rajajinagar,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...",[Rs.2.72 Lacs/Month],[Rs.4.75 Crores]
24,2 BHK Flat For Sale In Apartment In Basave...,"In Apartment In Basaveshwar Nagar,","1, 6th Cross Rd, Manjunath Nagar, Basaveshwar...","[Rs.31, 522/Month]",[Rs.55 Lacs]

# 9)Write a python program to scrape mentioned details from dineout.co.in :
#i) Restaurant name
#ii) Cuisine
#iii) Location
#iv) Ratings
#v) Image URL

In [89]:
from bs4 import BeautifulSoup
import requests

In [90]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [92]:
#i) Restaurant name:
Restaurant_name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)
Restaurant_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [93]:
#ii) Cuisine"
cusine=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cusine.append(i.text.split("|").pop(1))
cusine

[' North Indian, Chinese',
 ' Barbecue, North Indian, Asian, Italian',
 ' Chinese, North Indian, Mughlai',
 ' Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 ' North Indian, Barbecue, Chinese, Mughlai',
 ' North Indian, Italian, Oriental ',
 ' Barbecue, North Indian',
 ' North Indian, Chinese, Fast Food',
 ' North Indian, Chinese, Continental',
 ' North Indian, Barbecue, Mughlai',
 ' North Indian, Mughlai',
 ' North Indian, Chinese, Barbecue',
 ' European, Indian Cuisine, Italian, Asian, Continental']

In [94]:
#iii) Location:
location=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [95]:
#iv) Ratings:
ratings=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.8',
 '4.3',
 '4.1']

In [96]:
#v) Image URL :
image_url=[]
for i in soup.find_all('img',class_="no-img"):
    image_url.append(i['data-src'])
image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [97]:
import pandas as pd
df=pd.DataFrame({'Restaurant_name':Restaurant_name,
                 'cusine':cusine,
                  'location':location,
                  'ratings':ratings,
                   'image_url':image_url})
df

,Restaurant_name,cusine,location,ratings,image_url
0,"Castle BarbequeConnaught Place, Central Delhi","North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","Barbecue, North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian, Mughlai","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Barbecue, Chinese, Mughlai","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Barbecue, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","North Indian, Mughlai","Sector 29, Faridabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","North Indian, Chinese, Barbecue","NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"European, Indian Cuisine, Italian, Asian, Con...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10)) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [98]:
from bs4 import BeautifulSoup
import requests

page=requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [100]:
Product_name=[]
for i in soup.find_all('h3'):
    Product_name.append(i.text)
Product_name=Product_name[0:10]
Product_name

['Be A Rainbow Boyfriend T-Shirt',
 "Women's Indigo Printed White T-Shirt",
 'Andhokar Half Sleeve T-Shirt',
 'Feminine Energy Half Sleeve Printed T-Shirt',
 'Keep Your Distance Panda Half Sleeve Printed T-shirt',
 'Love Friends Half Sleeve Printed T-Shirt Meteor Grey',
 'Black Widow Target Half Sleeve T-Shirt',
 'Smiley Smelly Half Sleeve T-Shirt',
 'Not Twelve Boyfriend T-Shirt',
 'Climbing pocket panda Half Sleeve Printed T-shirt']

In [101]:
Price_in_Rupees=[]
for i in soup.find_all('b'):
    Price_in_Rupees.append(i.text)
Price_in_Rupees=Price_in_Rupees[0:20:2]
Price_in_Rupees

['399', '299', '299', '299', '249', '299', '299', '299', '349', '299']

In [102]:
image_url=[]
for i in soup.find_all('img',class_="productImgTag"):
    image_url.append(i['src'])
image_url

['https://images.bewakoof.com/t320/be-a-rainbow-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-271543-1581596152.jpg',
 'https://images.bewakoof.com/t320/beautiful-things-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-325248-1618210210.jpg',
 'https://images.bewakoof.com/t320/andhokar-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329628-1614076846.jpg',
 'https://images.bewakoof.com/t320/feminine-energy-half-sleeve-printed-t-shirt-women-s-half-sleeve-printed-t-shirt-334734-1614430321.jpg',
 'https://images.bewakoof.com/t320/stay-away-panda-half-sleeve-printed-t-shirt-women-s-half-sleeve-printed-t-shirt-343638-1616404507.jpg',
 'https://images.bewakoof.com/t320/love-friends-half-sleeve-printed-t-shirt-meteor-grey-women-s-half-sleeve-printed-t-shirt-344650-1616576725.jpg',
 'https://images.bewakoof.com/t320/black-widow-target-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-344622-1617734199.jpg',
 'https://images.bewakoof.com/t320/smiley-smelly-half-sleeve-printed-t-shirt-women-s-half-sleeve-printed-t-shirt-345159-1617101092.jpg',
 'https://images.bewakoof.com/t320/not-twelve-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-353152-1619787647.jpg',
 'https://images.bewakoof.com/t320/climbing-pocket-panda-women-s-half-sleeve-printed-t-shirt-354919-1621408489.jpg']

In [103]:
import pandas as pd
df=pd.DataFrame({'Product_name':Product_name,
                  'Price_in_Rupees':Price_in_Rupees,
                   'image_url':image_url})
df

,Product_name,Price_in_Rupees,image_url
0,Be A Rainbow Boyfriend T-Shirt,399,https://images.bewakoof.com/t320/be-a-rainbow-...
1,Women's Indigo Printed White T-Shirt,299,https://images.bewakoof.com/t320/beautiful-thi...
2,Andhokar Half Sleeve T-Shirt,299,https://images.bewakoof.com/t320/andhokar-half...
3,Feminine Energy Half Sleeve Printed T-Shirt,299,https://images.bewakoof.com/t320/feminine-ener...
4,Keep Your Distance Panda Half Sleeve Printed T...,249,https://images.bewakoof.com/t320/stay-away-pan...
5,Love Friends Half Sleeve Printed T-Shirt Meteo...,299,https://images.bewakoof.com/t320/love-friends-...
6,Black Widow Target Half Sleeve T-Shirt,299,https://images.bewakoof.com/t320/black-widow-t...
7,Smiley Smelly Half Sleeve T-Shirt,299,https://images.bewakoof.com/t320/smiley-smelly...
8,Not Twelve Boyfriend T-Shirt,349,https://images.bewakoof.com/t320/not-twelve-bo...
9,Climbing pocket panda Half Sleeve Printed T-shirt,299,https://images.bewakoof.com/t320/climbing-pock...