# WEB SCRAPING – ASSIGNMENT 2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [3]:
#Typing the required url to explore:
url='https://www.naukri.com/'
driver.get(url)

In [26]:
#Filling the “Skill, Designations, Companies” field and clicking the search button to explore different job options:

In [4]:

search_job=driver.find_element_by_class_name("suggestor-input ")#finding the job search element using class name
search_job

In [5]:
search_job.send_keys("Data Analyst") # Typing data for  Designations field in the webpage

In [6]:
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')#finding the location element using xpath
search_location

In [7]:
search_location.send_keys("Bangalore")   #Typing data for loation field in the webpage

In [8]:
search_btn=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')#finding the search button element using xpath
search_btn

In [10]:
search_btn.click()  #clicking the search button

In [11]:
titletags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')#finding the titletags  using xpath
len(titletags) #length of the titletags

20

In [12]:
#selecting the top 10 titletags and putting them in a list:
job_titles=[]
for i in titletags:
        job_titles.append(i.text)
        if len(job_titles)>9:
            break
len(job_titles)

10

In [13]:
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Business Analyst (Data Analyst role)',
 'Consultant - Data Analyst',
 'Senior Analyst, Data Engineering',
 'Business Data Analyst - MIS & Reporting',
 'Statistician, Data Analyst, SPSS, M.Sc Statistics (0 To 3 years)',
 'Analyst - Data Intelligence Group',
 'Data Analyst']

In [15]:
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')#finding the location tags  using xpath
len(location) #length of the location tags

20

In [16]:
#selecting the respective top 10 job_location and putting them in form of a list:
job_location=[]
for i in location:
        job_location.append(i.text)
        if len(job_location)>9:
            break
len(job_location)

10

In [17]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi(Paschim Vihar +1), Bangalore/Bengaluru(Whitefield +2)',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')#finding the company tags  using xpath
len(company) #length of the company tags

20

In [19]:
#selecting the respective top 10 company names and putting them in form of a list:
company_name=[]
for i in company:
        company_name.append(i.text)
        if len(company_name)>9:
            break
len(company_name)

10

In [20]:
company_name

['Flipkart',
 'Flipkart',
 'Flipkart',
 'Xpheno',
 'Flipkart',
 'Dell',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'The HR Bulb',
 'TresVista Financial',
 'Shell']

In [21]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')#finding the experience tags  using xpath
len(exp) #length of the experience tags

20

In [22]:
#selecting the respective top 10 experience required and putting them in form of a list:
experience_required=[]
for i in exp:
        experience_required.append(i.text)
        if len(experience_required)>9:
            break
len(experience_required)

10

In [23]:
experience_required

['1-6 Yrs',
 '2-4 Yrs',
 '2-3 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '5-8 Yrs']

In [24]:
#Creating a data frame of all the list elements that are scraped from the web page:
data=pd.DataFrame()

In [25]:
data['job_titles']=job_titles
data['job_location']=job_location
data['company_name']=company_name
data['experience_required']=experience_required
data

,job_titles,job_location,company_name,experience_required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,2-3 Yrs
3,Business Analyst (Data Analyst role),"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Xpheno,2-5 Yrs
4,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart,1-3 Yrs
5,"Senior Analyst, Data Engineering",Bangalore/Bengaluru,Dell,2-5 Yrs
6,Business Data Analyst - MIS & Reporting,Bangalore/Bengaluru,SHAND PIPE INDUSTRY PVT.LTD,2-6 Yrs
7,"Statistician, Data Analyst, SPSS, M.Sc Statist...","New Delhi(Paschim Vihar +1), Bangalore/Bengalu...",The HR Bulb,0-3 Yrs
8,Analyst - Data Intelligence Group,"Mumbai, Pune, Bangalore/Bengaluru",TresVista Financial,0-1 Yrs
9,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [27]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [28]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [29]:
#Typing the required url to explore:
url='https://www.naukri.com/'
driver.get(url)

In [30]:
#Filling the “Skill, Designations, Companies” field and clicking the search button to explore different job options:

search_job=driver.find_element_by_class_name("suggestor-input ")#finding the job search element using class name
search_job

In [31]:
search_job.send_keys("Data Scientist") # Typing data for  Designations field in the webpage

In [32]:
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
#finding the location element using xpath
search_location

In [33]:
search_location.send_keys("Bangalore")   #Typing data for loation field in the webpage

In [34]:
search_btn=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')#finding the search button element using xpath
search_btn

In [36]:
search_btn.click()  #clicking the search button

In [37]:
titletags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')#finding the titletags  using xpath
len(titletags) #length of the titletags

20

In [38]:
#selecting the top 10 titletags and putting them in a list:
job_titles=[]
for i in titletags:
        job_titles.append(i.text)
        if len(job_titles)>9:
            break
print('length:',len(job_titles))
print('list-',job_titles)

length: 10
list- ['Data Scientist / Analyst', 'Senior Risk Data Scientist', 'Data Scientist: Advanced Analytics', 'Data Scientist: Advanced Analytics', 'Data Scientist', 'Data Scientist: Artificial Intelligence', 'Data Scientist: Artificial Intelligence', 'Senior Data Scientist - Advanced Analytics', 'Senior Data Scientist', 'Senior - Data Scientist']

In [40]:
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')#finding the location tags  using xpath
len(location) #length of the location tags

20

In [41]:
#selecting the respective top 10 job_location and putting them in form of a list:
job_location=[]
for i in location:
        job_location.append(i.text)
        if len(job_location)>9:
            break
print('length:',len(job_location))
print('list-',job_location)

length: 10
list- ['Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [42]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')#finding the company tags  using xpath
len(company) #length of the company tags

20

In [43]:
#selecting the respective top 10 company names and putting them in form of a list:
company_name=[]
for i in company:
        company_name.append(i.text)
        if len(company_name)>9:
            break
print('length:',len(company_name))
print('list-',company_name)

length: 10
list- ['Talentify', 'GSK India', 'IBM', 'IBM', 'IBM', 'IBM', 'IBM', 'Siemens', 'Spiceworks', 'AT and T Global Business Services India P. Ltd.']

In [44]:
#Creating a data frame of all the list elements that are scraped from the web page:
data=pd.DataFrame()
data['job_titles']=job_titles
data['job_location']=job_location
data['company_name']=company_name
data

,job_titles,job_location,company_name
0,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
1,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,Senior Data Scientist - Advanced Analytics,Bangalore/Bengaluru,Siemens
8,Senior Data Scientist,Bangalore/Bengaluru,Spiceworks
9,Senior - Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [45]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [46]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [47]:
#Typing the required url to explore:
url='https://www.naukri.com/'
driver.get(url)

In [48]:
#Filling the “Skill, Designations, Companies” field and clicking the search button to explore different job options:

search_job=driver.find_element_by_class_name("suggestor-input ")#finding the job search element using class name
search_job

In [49]:
search_job.send_keys("Data Scientist") # Typing data for  Designations field in the webpage

In [50]:
search_btn=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')#finding the search button element using xpath
search_btn

In [52]:
search_btn.click()  #clicking the search button

In [54]:
location=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i')
location

In [55]:
location.click() #clicking the click button

In [56]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click() #clicking the salary click button

In [57]:
titletags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')#finding the titletags  using xpath
len(titletags) #length of the titletags

20

In [58]:
#selecting the top 10 titletags and putting them in a list:
job_titles=[]
for i in titletags:
        job_titles.append(i.text)
        if len(job_titles)>9:
            break
print('length:',len(job_titles))
print('list-',job_titles)

length: 10
list- ['Data Scientist II', 'Opening For Data Scientist', 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC', 'Data Scientist', 'Lead Data Scientist - KYC/Fraud/Marketing', 'Junior Data Scientist - Goods & Service Tax Network, Delhi', 'Associate Data Scientist - Java/ Scala/ Apache Server', 'Data Scientist', 'Data Scientist', 'Data Scientist / Senior DS/ Team Lead']

In [59]:
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')#finding the location tags  using xpath
len(location) #length of the location tags

20

In [60]:
#selecting the respective top 10 job_location and putting them in form of a list:
job_location=[]
for i in location:
        job_location.append(i.text)
        if len(job_location)>9:
            break
print('length:',len(job_location))
print('list-',job_location)

length: 10
list- ['Delhi / NCR', 'Gurgaon/Gurugram', 'Noida, New Delhi, Delhi / NCR', 'Noida', 'New Delhi', 'Delhi / NCR', 'Noida', 'Gurgaon/Gurugram\n(WFH during Covid)', 'New Delhi', 'Mumbai, Gurgaon/Gurugram(Cyber City +1)']

In [61]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')#finding the company tags  using xpath
len(company) #length of the company tags

20

In [62]:
#selecting the respective top 10 company names and putting them in form of a list:
company_name=[]
for i in company:
        company_name.append(i.text)
        if len(company_name)>9:
            break
print('length:',len(company_name))
print('list-',company_name)

length: 10
list- ['Chegg', 'Care Health Insurance', 'GABA Consultancy services', 'Stefanini', 'Tide Software', 'NISG (National Institute for Smart Government)', 'Smart work Consultants', 'Zekardo Automotive Solutions', 'Team Computers Pvt Ltd', 'NebulARC Technologies Private Limited']

In [63]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')#finding the experience tags  using xpath
len(exp) #length of the experience tags

20

In [65]:
#selecting the respective top 10 experience required and putting them in form of a list:
experience_required=[]
for i in exp:
        experience_required.append(i.text)
        if len(experience_required)>9:
            break
print('length:',len(experience_required))
print('list-',experience_required)

length: 10
list- ['2-6 Yrs', '1-5 Yrs', '0-0 Yrs', '3-8 Yrs', '1-6 Yrs', '3-8 Yrs', '1-4 Yrs', '5-8 Yrs', '2-6 Yrs', '0-4 Yrs']

In [66]:
#Creating a data frame of all the list elements that are scraped from the web page:
data=pd.DataFrame()
data['job_titles']=job_titles
data['job_location']=job_location
data['company_name']=company_name
data['experience_required']=experience_required
data

,job_titles,job_location,company_name,experience_required
0,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
1,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
2,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist,Noida,Stefanini,3-8 Yrs
4,Lead Data Scientist - KYC/Fraud/Marketing,New Delhi,Tide Software,1-6 Yrs
5,Junior Data Scientist - Goods & Service Tax Ne...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
6,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs
7,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs
8,Data Scientist,New Delhi,Team Computers Pvt Ltd,2-6 Yrs
9,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [3]:
#Typing the required url to explore:
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
#Filling the “search for products, brands andmore” field and clicking the search button to explore different job options:

search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')#finding the shopping search element using xpath
search

In [5]:
search.send_keys("sunglasses") # Typing data for "search for products, brands andmore” field in the webpage

In [7]:
search_icon=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')#finding the search button element using xpath
search_icon

In [8]:
close_login=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_login.click()

In [9]:
search_icon.click()

In [10]:
#Selecting top 120 brand name tags and framing them in list:
brand_name=[]
from time import sleep
for i in range(3):
    print('scraping page ',i+1)
    brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')#finding the brand tags  using xpath
    for i in brand:
        brand_name.append(i.text)
    next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')#finding the search button element using xpath
    next_btn.click()   #clicking the next button
    sleep(2)

scraping page  1
scraping page  2
scraping page  3

In [13]:
#selecting the top 120 product description tag and putting them in a list:
product_description=[]
from time import sleep
for i in range(3):
    print('scraping page ',i+1)
    product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product:
        product_description.append(i.text)
    next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')#finding the search button element using xpath
    next_btn.click()   #clicking the next button
    sleep(2)

scraping page  1
scraping page  2
scraping page  3

In [14]:
#selecting the top 120 pricetags and putting them in a list:
Price=[]
from time import sleep
for i in range(3):
    print('scraping page ',i+1)
    price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]') #finding the price tags  using xpath
    for i in price:
        Price.append(i.text)
    next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')#finding the search button element using xpath
    next_btn.click()   #clicking the next button
    sleep(2)

scraping page  1
scraping page  2
scraping page  3

In [15]:
#selecting the top 120 discount tag and putting them in a list:
Discount=[]
from time import sleep
for i in range(3):
    print('scraping page ',i+1)
    discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #finding the discount tags  using xpath
    for i in discount:
        Discount.append(i.text)
    next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')#finding the search button element using xpath
    next_btn.click()   #clicking the next button
    sleep(2)

scraping page  1
scraping page  2
scraping page  3

In [16]:
#selecting topp 100 features in the lists given above:
brand_name=brand_name[0:100]
product_description=product_description[0:100]
Price=Price[0:100]
Discount=Discount[0:100]

In [17]:
#Creating a data frame for top 100 suglasses details:
data=pd.DataFrame()
data['Brand_name']=brand_name
data['Product_Description']=product_description
data['Price']=Price
data['Discount']=Discount
data

,Brand_name,Product_Description,Price,Discount
0,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹183,75% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹199,77% off
2,Elligator,UV Protection Round Sunglasses (54),₹689,90% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹165,38% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹180,90% off
...,...,...,...,...
95,Silver Kartz,"UV Protection, Polarized, Mirrored Rectangular...",₹203,85% off
96,SHAAH COLLECTIONS,"UV Protection, Gradient Rectangular Sunglasses...",₹249,81% off
97,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹202,80% off
98,PHENOMENAL,UV Protection Rectangular Sunglasses (58),₹449,84% off
99,ROYAL SON,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹349,76% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [3]:
#Typing the required url to explore:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&q=iphone+11+64gb+black&store=tyy%2F4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_21_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_21_na_na_na&fm=search-autosuggest&iid=3521d190-f551-4796-adfc-5b2cdba5c21d.MOBFKCTSVZAXUHGR.SEARCH&ppt=hp&ppn=homepage&ssid=qagkrkrwi80000001644421450363&qH=deefce46cc06167b'
driver.get(url)

In [4]:
#Viewing all reviews of iphone11:
view_all_reviews=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
view_all_reviews.click()

In [5]:
#defining function for rating:
def r1(r1):
    for i in rating:
        r1.append(i.text)

In [6]:
#defining function for summary:
def r11(r11):
    for i in summary:
        r11.append(i.text)

In [7]:
#defining function for fullreview:
def r12(r12):
    for i in full:
        r12.append(i.text)

In [33]:
#Creating empty lists for rating,summary,review:
Rating=[] 
RS=[]
FR=[]

In [34]:
#Selecting top 10 'rating, review summary, fullreview' elements data and putting them in the empty lists: 
rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
full=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
r11(RS)
r12(FR)
r1(Rating)
len(Rating)
Rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [24]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')#finding the search button element using xpath
next_btn.click()#clicking the next button

In [30]:
#Selecting top 90 'rating, review summary, fullreview' elements data and putting them in the empty lists: 

RS1=[]
FR1=[]
Rating1=[]
from time import sleep
for i in range(1,10,1):
    print('scraping page ',i+1)
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    full=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    r11(RS1)
    r12(FR1)
    r1(Rating1)
    next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')#finding the search button element using xpath
    next_btn.click()#clicking the next button
    sleep(2)

scraping page  2
scraping page  3
scraping page  4
scraping page  5
scraping page  6
scraping page  7
scraping page  8
scraping page  9
scraping page  10

In [31]:
print(len(RS1),len(FR1),len(Rating1))

90 90 84

In [32]:
Rating1.insert(17,1)
Rating1.insert(29,1)
Rating1.insert(34,1)
Rating1.insert(61,1)
Rating1.insert(64,1)
Rating1.insert(84,1)
len(Rating1)

90

In [37]:
x=[]
y=[]
z=[]
y=RS+RS1
z=FR+FR1
x=Rating+Rating1

In [38]:
#Creating a dataframe using the above data:
data=pd.DataFrame()
data['Rating']=x
data['  Review_summary  ']=y
data['      Full_review      ']=z
data

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [30]:
#Typing the required url to explore:
url='https://www.flipkart.com/'
driver.get(url)

In [31]:
#Filling the “search for products, brands andmore” field and clicking the search button to explore different job options:

search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')#finding the shopping search element using xpath
search.send_keys("sneakers")

In [ ]:
#Closing the login page:
#drop=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
#drop.click()

In [32]:
search_icon=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')#finding the search button element using xpath
search_icon.click()#clicking the search button

In [33]:
#defining brand tag function:
def b(b1):
    for i in brand:
        b1.append(i.text)

In [34]:
#defining product description tag function:
def pd(pd1):
    for i in product:
        pd1.append(i.text)

In [35]:
#defining price tag function:
def pr(pr1):
    for i in price:
        pr1.append(i.text)

In [36]:
#defining discount tag function:
def ds(ds1):
    for i in discount:
        ds1.append(i.text)

In [37]:
#Framing empty lists for brand,product description,price and discount tags:
Brand1=[]
Brand2=[]
Brand3=[]
Prod1=[]
Prod2=[]
Prod3=[]
Price1=[]
Price2=[]
Price3=[]
Disc1=[]
Disc2=[]
Disc3=[]

In [38]:
#Selecting the top 40 elements of brand,productdescription,price and discount tagsand framing them in a list:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')#finding the brand tags  using xpath
product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#finding the prod description tags  using xpath
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]') #finding the price tags  using xpath
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #finding the discount tags  using xpath
b(Brand1)
pd(Prod1)
pr(Price1)
ds(Disc1)
print(len(Brand1),len(Prod1),len(Price1),len(Disc1))

40 33 40 40

In [39]:
add=driver.find_element_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
Prod1.insert(7,add.text)
Prod1.insert(17,add.text)
Prod1.insert(18,add.text)
Prod1.insert(22,add.text)
Prod1.insert(31,add.text)
Prod1.insert(32,add.text)
Prod1.insert(39,add.text)

len(Prod1)

40

In [40]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn.click() #clicking the next button using the above element

In [41]:
#Selecting the next 40 elements of brand,productdescription,price and discount tagsand framing them in a list:

brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')#finding the brand tags  using xpath
product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#finding the prod description tags  using xpath
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]') #finding the price tags  using xpath
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #finding the discount tags  using xpath
b(Brand2)
pd(Prod2)
pr(Price2)
ds(Disc2)
print(len(Brand2),len(Prod2),len(Price2),len(Disc2))

40 32 40 40

In [42]:
add=driver.find_element_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
Prod2.insert(5,add.text)
Prod2.insert(8,add.text)
Prod2.insert(12,add.text)
Prod2.insert(19,add.text)
Prod2.insert(27,add.text)
Prod2.insert(31,add.text)
Prod2.insert(34,add.text)
Prod2.insert(39,add.text)

print(len(Prod2))

40

In [43]:
#clicking the next button using the below element
next_btn=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_btn.click()

In [44]:
#Selecting the next 20 elements of brand,productdescription,price and discount tagsand framing them in a list:

brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')#finding the brand tags  using xpath
product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#finding the prod description tags  using xpath
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]') #finding the price tags  using xpath
discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  #finding the discount tags  using xpath
b(Brand3)
pd(Prod3)
pr(Price3)
ds(Disc3)
print(len(Brand3),len(Prod3),len(Price3),len(Disc3))

40 32 40 39

In [45]:
add=driver.find_element_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
Prod3.insert(14,add.text)
Prod3.insert(17,add.text)

In [47]:
Brand3=Brand3[0:20]
Prod3=Prod3[0:20]
Price3=Price3[0:20]
Disc3=Disc3[0:20]
print(len(Brand3),len(Prod3),len(Price3),len(Disc3))

20 20 20 20

In [48]:
#Combining all the lists of brand,prod,price and discount and putting them in 3 lists respectively:
brand=[]
brand=Brand1+Brand2+Brand3
prod=[]
prod=Prod1+Prod2+Prod3
price=[]
price=Price1+Price2+Price3
discount=[]
discount=Disc1+Disc2+Disc3

In [50]:
#Creating a data frame using the data given below:
import pandas as pd
data=pd.DataFrame()
data['Brand']=brand
data['     Product_description    ']=prod
data['   Price   ']=price
data['   Discount   ']=discount
data

,Brand,Product_description,Price,Discount
0,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹599,40% off
1,DUNKASTON,Sneakers For Men,₹399,73% off
2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹625,82% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
4,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹249,75% off
...,...,...,...,...
95,HRX by Hrithik Roshan,Sneakers For Men,"₹2,799",37% off
96,Robbie jones,Casual Sneakers White Shoes For Men Sneakers F...,₹499,50% off
97,SPARX,Sneakers For Men,₹810,4% off
98,Chevit,494 Perfect Sports Shoes for Running Training ...,₹254,74% off
99,tigonis,Sneakers For Men,₹450,74% off

# Q7: Go to the link - https://www.myntra.com/shoes .Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,And then scrape First 100 shoes data you get.The data should include “Brand” of the shoes , Short Shoedescription, price of the shoe as shown in the below image

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [3]:
#Typing the required url to explore:
url=' https://www.myntra.com/shoes'
driver.get(url)

In [4]:
#getting color black filter click:
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [5]:
#getting price filter click:
Price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
Price_filter.click()

In [12]:
#Creating empty lists for filling the corresponding data:
brand1=[]
brand2=[]
shortname1=[]
shortname2=[]
price1=[]
price2=[]

In [13]:
#Defining brand tag function for the further use:
def b(b):
    for i in brand:
        b.append(i.text)

In [14]:
#Defining shortname tag function for the further use:
def s(s):
    for i in shortname:
        s.append(i.text)

In [15]:
#Defining price tag function for the further use:
def p(p):
    for i in price:
        p.append(i.text[0:8])

In [16]:
#Selecting the top 50 elements of brand,shorname,price and discount tagsand framing them in a list:
brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')#finding the brand tags  using xpath
shortname=driver.find_elements_by_xpath('//h4[@class="product-product"]')#finding the short name tags  using xpath
price=driver.find_elements_by_xpath('//div[@class="product-price"]') #finding the price tags  using xpath
b(brand1)
s(shortname1)
p(price1)
print(len(brand1),len(price1),len(shortname1))

50 50 50

In [19]:
next_btn=driver.find_element_by_xpath('//li[@class="pagination-next"]')#finding the next button element using xpath
next_btn.click()   #clicking the next button

In [20]:
#Selecting the next 50 elements of brand,shorname,price and discount tagsand framing them in a list:
brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')#finding the brand tags  using xpath
shortname=driver.find_elements_by_xpath('//h4[@class="product-product"]')#finding the short name tags  using xpath
price=driver.find_elements_by_xpath('//div[@class="product-price"]') #finding the price tags  using xpath
b(brand2)
s(shortname2)
p(price2)
print(len(brand2),len(price2),len(shortname2))

50 50 50

In [21]:
#Combining all the lists of brand,shortname,price framing them in 3 lists respectively:
brand=[]
brand=brand1+brand2
shortname=[]
shortname=shortname1+shortname2
price=[]
price=price1+price2

In [22]:
#Creating dataframe with the help of above 3 lists:
data=pd.DataFrame()
data['Brand']=brand
data['Shortname']=shortname
data['Price']=price
data

             Brand                                Shortname     Price
0             Nike                  Men AIR ZOOM PEGASUS 38  Rs. 9770
1   Tommy Hilfiger                     Men Textured Loafers  Rs. 8599
2   Tommy Hilfiger                     Men Leather Sneakers  Rs. 7999
3   Tommy Hilfiger                     Men Leather Sneakers  Rs. 7999
4             Nike           Men Blazer Court Skateboarding  Rs. 7495
..             ...                                      ...       ...
95         Saint G               Leather Block Heeled Boots  Rs. 9265
96  Pavers England          Men Solid Leather Formal Derbys  Rs. 8999
97        Skechers               Men GLOBAL JOGGER Sneakers  Rs. 7999
98         Saint G  Leather Block Heeled Boots with Tassels  Rs. 9775
99         Saint G               Leather Block Heeled Boots  Rs. 1402

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” :
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [1]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [3]:
#Typing the required url to explore:
url='https://www.amazon.in/'
driver.get(url)

In [4]:
search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [5]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [8]:
#getting CPUtype filter click:
CPUtype_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[11]/span/a/div/label/i')
CPUtype_filter.click()

In [9]:
#Selecting top 10 title tags and putting them in form of list:
title=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
Title=[]
for i in title:
    Title.append(i.text)
len(Title[0:10])
Title=Title[0:10]

In [10]:
#Selecting top 10 price tags and putting them in form of list:

price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
Price=[]
for i in price:
    Price.append(i.text)
len(Price[0:10])
Price=Price[0:10]

In [40]:
#Selecting top 10 no of rating tags and putting them in form of list:

rate=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
rating=[]
for i in rate:
    rating.append(i.text)

rating=rating[0:10]

In [38]:
# finding  the rating:
rate1=driver.find_element_by_xpath('//a[@class="a-popover-trigger a-declarative"]')
rate1.click()

In [39]:
ratingh=[]
rate2=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for j in rate2:
    ratingh.append(j.text)
ratingh

['4.4 out of 5']

In [34]:

rate9=driver.find_element_by_class_name("a-icon-alt").get_attribute('textContent')

In [36]:
rate9

'4.4 out of 5 stars'

In [41]:
#creating a dataframe:
data=pd.DataFrame({'Title':Title, 'Reviews':rating,  'Price':Price})
data

                                               Title Reviews   Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....      37  92,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...      71  92,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...      13  59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...      60  86,990
4  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...      21  96,990
5  LG Gram Intel Evo 11th Gen Core i7 17 inches U...     128  99,499
6  MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...      57  70,000
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...      36  84,990
8  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...       3  89,990
9  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...       1  88,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company

In [35]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [36]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [37]:
#Typing the required url to explore:
url='https://www.ambitionbox.com/'
driver.get(url)

In [38]:
#selecting the jobs to get the job profiles:
jobs=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs.click()

In [40]:
#Filling the “Skill, Designations, Companies” field and clicking the search button to explore different job options:

search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')#finding the job search element using class name
search_job.send_keys('Data Scientist')

In [41]:
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')#finding the search element using class name
search.click() #clicking the search

In [42]:
#Clicking the location tag:
location_click=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_click.click()

In [43]:
#Filling the location element:
search_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc.send_keys('Noida')

In [44]:
click_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click_loc.click()#clicking the search for location

In [45]:
#Selecting the top 10 company name tags and filling them in a list:
companyname=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
Compname=[]
for i in companyname:
    Compname.append(i.text)
len(Compname)

10

In [53]:
#Selecting the top 10 'days ago job posted' tags and filling them in a list:
when_job_posted=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
job_posted=[]
for i in when_job_posted:
    job_posted.append(i.text)
len(job_posted)

20

In [54]:
job_posted=job_posted[0::2]
len(job_posted)

10

In [57]:
#Selecting the top 10 Rating tags and filling them in a list:
rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
Rating=[]
for i in rating:
    Rating.append(i.text)
len(Rating)

10

In [58]:
#Creating a data frame using the above lists:
data=pd.DataFrame({'Company_name':Compname,'Job_posted':job_posted,'Rating':Rating})
data

                          Company_name Job_posted Rating
0           Jubilant Foodworks Limited     7d ago    3.9
1                     HCL Technologies    21d ago    3.8
2  Tavant Technologies India Pvt. Ltd.     2d ago    4.0
3                Denave India Pvt Ltd.     2d ago    4.0
4                               EY GDS    22d ago    3.7
5                          EXL Service    15d ago    3.8
6           Pitney Bowes India Pvt ltd    22d ago    4.2
7                                Zyoin    5hr ago    4.1
8                 Ameriprise Financial    30d ago    4.0
9           Jubilant Foodworks Limited    28d ago    3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [59]:
#Importing all the required libraries:
import selenium
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [85]:
#Getting the webdriver access:
driver=webdriver.Chrome(r'C:\Users\admin\Desktop\chromedriver.exe')

In [86]:
#Typing the required url to explore:
url='https://www.ambitionbox.com/'
driver.get(url)

In [87]:
#selecting the salaries to get the required job profiles:
salary=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary.click()

In [88]:
#Filling the "search job profile” field and clicking the search button to explore different job options:

search_job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')#finding the job search element using class name
search_job.send_keys('Data Scientist')#filling the search element

In [89]:
search=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')#finding the search element using class name
search.click() #clicking the search

In [93]:
#selecting top 10 company name and total salary record tags and putting them in form of lists:
name=driver.find_elements_by_xpath('//div[@class="name"]')
company_name=[]
Total_salary_record=[]
for i in name:
    company_name.append(i.text.split(' b').pop(0))

In [94]:
Company_name=[i.split('\n', 1)[0] for i in company_name]
Company_name

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [95]:
Total_salary_record=[i.split('\n', 1)[1] for i in company_name]
Total_salary_record

['based on 10 salaries',
 'based on 25 salaries',
 'based on 13 salaries',
 'based on 25 salaries',
 'based on 75 salaries',
 'based on 30 salaries',
 'based on 51 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries']

In [101]:
#selecting top 10 experience tags and putting them in form of a list:

exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experience=[]

for i in exp:
    experience.append(i.text.split('.').pop(1))

In [103]:
experience=[i.split('\n', 1)[1] for i in experience]
experience

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [106]:
#selecting top 10 average salary tags and putting them in form of a list:

avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
Avg_salary=[]

for i in avg_salary:
    Avg_salary.append(i.text.split(" ").pop(1))
Avg_salary

['28.7L',
 '20.2L',
 '15.5L',
 '15.1L',
 '15.1L',
 '14.2L',
 '13.8L',
 '12.7L',
 '12.4L',
 '11.9L']

In [124]:
#selecting top 10 minimum salary and maximum salary tags and putting them in form of lists:

minimum=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
minimum_salary=[]
maximum_salary=[]
for i in minimum:
    minimum_salary.append(i.text.replace('₹','Rs.'))

In [125]:
Minimum_salary=minimum_salary[0::2]

In [126]:
len(Minimum_salary)

10

In [127]:
maximum_salary=minimum_salary[1::2]

In [128]:
len(maximum_salary)

10

In [130]:
#Creating data frame for the top 10 
data=pd.DataFrame({'Company_name':Company_name,'Total_salary_record':Total_salary_record,'Average_salary(Rupees)':Avg_salary,
                   'Minimum_salary':Minimum_salary,'Maximun_salary':maximum_salary,'Experience_required':experience})
data

,Company_name,Total_salary_record,Average_salary(Rupees),Minimum_salary,Maximun_salary,Experience_required
0,Walmart,based on 10 salaries,28.7L,Rs. 17.7L,Rs. 35.0L,3 yrs exp
1,Ab Inbev,based on 25 salaries,20.2L,Rs. 15.0L,Rs. 25.5L,3-4 yrs exp
2,ZS,based on 13 salaries,15.5L,Rs. 9.8L,Rs. 20.0L,2 yrs exp
3,Optum,based on 25 salaries,15.1L,Rs. 11.0L,Rs. 21.3L,3-4 yrs exp
4,Fractal Analytics,based on 75 salaries,15.1L,Rs. 9.5L,Rs. 22.0L,2-4 yrs exp
5,Tiger Analytics,based on 30 salaries,14.2L,Rs. 9.0L,Rs. 18.5L,3-4 yrs exp
6,UnitedHealth,based on 51 salaries,13.8L,Rs. 8.3L,Rs. 20.5L,2-4 yrs exp
7,Verizon,based on 14 salaries,12.7L,Rs. 10.0L,Rs. 21.0L,4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,12.4L,Rs. 8.5L,Rs. 15.0L,4 yrs exp
9,Ericsson,based on 43 salaries,11.9L,Rs. 5.8L,Rs. 24.0L,3-4 yrs exp